<%= render 'devise/shared/login_form' %>

<div id="page-btn">
    <%= link_to "Login", "", data: {toggle: "modal", target: ".bd-example-modal-lg"} %>
</div>

<%# alter the login link to trigger the opening of the modal  %>
  <%# <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <%# <i class="material-icons">add</i> %>
  <%# </button> %> 