<%= render 'devise/shared/login_form' %>

<div id="page-btn">
    <%= link_to "", data: {toggle: "modal", target: ".bd-example-modal-lg"} do %>
      <i class="fas fa-plus pink-icon-lg text-decoration-none outline-none border-0"></i>
    <% end %>
</div>

<%# alter the login link to trigger the opening of the modal  %>
  <%# <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <%# <i class="material-icons">add</i> %>
  <%# </button> %> 