<div class="banner">
    <nav class="navbar">
<%# Nav Logo Row %>
      <div class="nav-logo d-flex">
        <i class="fas fa-table-tennis nav-logo-icon shadow-sm p-3 mr-3"></i>
        <%# <i class="fab fa-spotify nav-logo-icon shadow-sm p-3 mr-3 font-weight-bold"></i> %>
        <a href="https://www.google.com" target="_blank_">
          <h3 class="font-weight-bold p-3">Sportify</h3>
        </a>
      </div>

<%# End Row %>
      <div class="d-inline-flex shadow-sm rounded p-3 text-center">
          <li class="navbar-link-end text-center">
            <a href="https://www.google.com" target="_blank_">
              About Us
            </a>
          </li>
          <li class="navbar-link-end text-center">
            <a href="https://www.google.com" target="_blank_">
              Become a host
            </a>
          </li>
          <li class="navbar-link-last m-0 text-center dropdown" id="dropdown_login">
            <a href="http://" class="h-100 test-icon" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bars m-0 burger-icon"></i>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </a>
            <a href="http://" target="_blank">
              <%# <i class="fas fa-user m-0" id="login-icon"></i> %>
              <div id="login-icon" class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
            </a>
          </li>
      
      </div>

    </nav>
