<div class="banner">
    <nav class="navbar2 pr-4 pl-4">
<%# Nav Logo Row %>
      <div class="nav-logo d-flex">
        <i class="fas fa-table-tennis nav-logo-icon2 mr-1"></i>
        <%# <i class="fab fa-spotify nav-logo-icon shadow-sm p-3 mr-3 font-weight-bold"></i> %>
        <a href= / >
          <h3 class="font-weight-bold nav-logo-2">Sportify</h3>
        </a>
      </div>

<%# End Row %>
      <div class="d-inline-flex rounded text-center">
          <li class="navbar-link-end text-center">
            <a href="/courts" class="text-off-black">
              About Us
            </a>
          </li>
            <li class="navbar-link-end text-center">
            <%= link_to "Become a host", new_court_path, class:"text-off-black" %>
          </li>
          <li class="navbar-link-last m-0 text-center dropdown" id="dropdown_login">
            <a href="http://google.com" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bars m-0 burger-icon text-off-black"></i>
              <div class="dropdown-menu rounded" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Edit Profile</a>
                <a class="dropdown-item border-top" href= /bookings>Bookings</a>
                  <% if user_signed_in? %>
                  <%= link_to "Log Out",  destroy_user_session_path, method: :delete, class: "dropdown-item border-top border-bottom" %>
                  <% else %> 
                  <%= link_to "Login", user_session_path, class: "dropdown-item border-top border-bottom" %>
                  <% end %>
              </div>
            </a>
            <a href="#">
              <%# <i class="fas fa-user m-0" id="login-icon"></i> %>
              <div id="login-icon" class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
            </a>
          </li>
      
      </div>

    </nav>
</div>

