<div class="banner">
    <nav class="navbar">
      <div class="nav-logo">
        <a href="https://www.google.com" target="_blank_">
          <h3>Mendio</h3>
        </a>
      </div>
        <ul class="navbar-link-container">
          <li class="navbar-link">
            <a href="https://www.google.com" target="_blank_">
              Product
            </a>
          </li>
          <li class="navbar-link">
            <a href="https://www.google.com" target="_blank_">
              Features
            </a>
          </li>
          <li class="navbar-link m-0" id="dropdown_login">
            <a href="http://" target="_blank">
              <i class="fas fa-bars m-0" id="burger-icon"></i>
            </a>
            <a href="http://" target="_blank">
              <i class="fas fa-user m-0" id="login-icon"></i>
            </a>
          </li>
        </ul>
    </nav>
