<div class="banner">
    <nav class="navbar">
<%# Nav Logo Row %>
      <div class="nav-logo d-flex">
        <i class="fas fa-table-tennis nav-logo-icon shadow-sm p-3 mr-3"></i>
        <%# <i class="fab fa-spotify nav-logo-icon shadow-sm p-3 mr-3 font-weight-bold"></i> %>
        <a href="https://www.google.com" target="_blank_">
          <h3 class="font-weight-bold p-3">Sportify</h3>
        </a>
      </div>
<%# Middle Row %>
      <div class="d-inline-flex">
        <li class="navbar-link rounded p-3 text-center">
          <a href="https://www.google.com" target="_blank_">
            Book a court
          </a>
        </li>
        <li class="navbar-link rounded p-3 text-center">
          <a href="https://www.google.com" target="_blank_">
            Courts near you
          </a>
        </li>
        <li class="navbar-link rounded p-3 text-center">
          <a href="https://www.google.com" target="_blank_">
            Best sellers
          </a>
        </li>
      </div>
<%# End Row %>
      <div class="d-inline-flex shadow-sm rounded p-3 text-center">
          <li class="navbar-link-end text-center">
            <a href="https://www.google.com" target="_blank_">
              Product
            </a>
          </li>
          <li class="navbar-link-end text-center">
            <a href="https://www.google.com" target="_blank_">
              Features
            </a>
          </li>
          <li class="navbar-link-end m-0 text-center" id="dropdown_login">
            <a href="http://" target="_blank">
              <i class="fas fa-bars m-0" id="burger-icon"></i>
            </a>
            <a href="http://" target="_blank">
              <%# <i class="fas fa-user m-0" id="login-icon"></i> %>
              <div id="login-icon" class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
            </a>
          </li>
      
      </div>
    </nav>
