
    <form class="search-navbar-container">

    <%# Col 1 %>
      <div class="search-nav-col-1">
        <label class="search-nav-title">Location</label>
        <input class="search-nav-desc" type="text" name="location" placeholder="Where are you going">
      </div>

    <%# Col 2 %>
      <div class="search-nav-col">
        <label class="search-nav-title">Check in</label>
        <input class="search-nav-desc" type="text" name="location" placeholder="Add dates">
      </div>

    <%# Col 3 %>
      <div class="search-nav-col">
        <label class="search-nav-title">Check out</label>
        <input class="search-nav-desc" type="text" name="location" placeholder="Add dates">
      </div>

    <%# Col 4 %>
      <div class="d-inline-flex align-items-center">
        <div class="search-nav-col">
          <label class="search-nav-title">Guests</label>
          <input class="search-nav-desc" type="text" name="location" placeholder="Add guests">
        </div>
        <div>
          <button type="submit" class="fas fa-search pink-icon-lg"></button>
        </div>
      </div>

    </form>
    