<h2>Play anywhere</h2>

<br>

<div class="card-container-3 mt-3">
  <div class="d-flex flex-column">
    <div class="court-card" >
      <img src="https://video-images.vice.com/_uncategorized/1537288581962-Coolest-Tennis-Courts-2.jpeg?resize=1575:*"/>
    </div>
    <div class="title1" title="Indoor courts">
        <p>Indoor courts</p>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="court-card">
      <img src="https://video-images.vice.com/_uncategorized/1537289035114-Coolest-Tennis-Courts-6.jpeg?resize=1024:*"/>
        <div class="title1" title="Outdoor courts">
          <p>Outdoor courts</p>
        </div>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="court-card">
      <img src="https://video-images.vice.com/_uncategorized/1537288324658-Coolest-Tennis-Courts-1.jpeg?resize=1575:*"/>
        <div class="title1" title="Unique locations">
          <p>Unique locations</p>
        </div>
    </div>
  </div>

</div>

<br>
<br>

<div class="container">

   <div class="large-court-card">

    <div class="heading">
      <h4>Become a host</h4>
      <p>Unlock new oppurtunities by sharing your space</p>
    </div>

  </div>

</div>

<br>
<br>

<h2>Many possibilities</h2>

<br>

<div class="card-container-4 mt-3">

  <div class="d-flex flex-column">
    <div class="small-court-card" >
      <img src="https://video-images.vice.com/_uncategorized/1537288581962-Coolest-Tennis-Courts-2.jpeg?resize=1575:*"/>
    </div>
    <div class="title2" title="Grass">
        <p>Grass</p>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="small-court-card">
      <img src="https://video-images.vice.com/_uncategorized/1537289035114-Coolest-Tennis-Courts-6.jpeg?resize=1024:*"/>
        <div class="title2" title="Clay">
          <p>Clay</p>
        </div>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="small-court-card">
      <img src="https://video-images.vice.com/_uncategorized/1537288324658-Coolest-Tennis-Courts-1.jpeg?resize=1575:*"/>
        <div class="title2" title="Hard">
          <p>Hard</p>
        </div>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="small-court-card">
      <img src="https://video-images.vice.com/_uncategorized/1537288324658-Coolest-Tennis-Courts-1.jpeg?resize=1575:*"/>
        <div class="title2" title="Artificial">
          <p>Artificial</p>
        </div>
    </div>
  </div>

</div>

<br>
<br>

<div class="footer">
  <div class="icons">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-twitter-square"></i>
  </div>
</div>






















