<div class="d-inline-flex mr-5">
<div class="banner-image-container mr-5">
<%= image_tag("mega-creator.png", class: 'banner-image', size: "900", alt: "Edit Entry") %>
</div>
<div class="container border-success h-100">
</div>
</div>