<div class="container w-100 justify-content-center d-flex">
    <%= render 'searchnav' %>
</div>
<div class="d-inline-flex mr-5">
  <div class="banner-image-container mr-5">
    <div class="row">
      <%= image_tag("kasatkina500", class: 'banner-image col-6', alt: "Tennis pic") %>
      <div class="col-6">
        
      </div>    
    </div>
  </div>
</div>
<%# Banner Text %>
<div class="container d-flex justify-content-end">
  <%# <%= link_to "COURTS", courts_path %>
  <div class="row justify-content-end mt-4">
      <div class="col-10 mt-5">
        <div class="display-2 mt-5" id="banner-heading">
        Game.. Set.. Match.
        </div>
      </div>
  </div>
</div>
<%# White Lines %>
<div class="container-fluid border-light mt-3 d-flex justify-content-end">
  <div class="row">
      <div class="col-12 empty">
      </div>
  </div>
</div>

<%# Grid 1 For Cards %>

<div class="container-fluid border d-none">
  <div class="row">
    <div class="col-12">
    
    </div>
  </div>
</div>
