#page-btn {
  position: fixed;
  right: 1vw;
  top: 92vh;
  z-index: 10;
}

.banner-btn {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  padding: 10px;
  color: white;
  border: solid 4px white;
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    background-color: white;
    color: #206a5d;
  }
}
