.bookings-card.mdl-card {
  width: 400px;
  height: 300px;
}
.bookings-card > .mdl-card__title {
  color: #fff;
  background:
   rgba(250,250,250,0.1);
}

.card-booking-desc {
  width: 400px;
  height: 400px;
}

.img-smalls {
  width: 100px;
  height: 90px;
}