.bookings-card.mdl-card {
  width: 400px;
  height: 400px;
}
.bookings-card > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat rgba(250,250,250,0.1);
}

.card-booking-desc {
  width: 400px;
  height: 400px;
}

.card {
  max-width: 100%;
	margin: 10px;
}