* {
  box-sizing: border-box;
}
body {
  margin-top: 70px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  background-color: #f3f3f3;
}
.navbar,
.navbar2 {
  display: inline-flex;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  opacity: 1;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.navbar2 {
  background-color: #f8f8f8;
  height: 70px;
  margin-top: 0;
  z-index: 2;
}

.navbar-link,
.navbar-link-end,
.navbar-link-last {
  list-style: none;
  margin: 0 20px 0px 20px;
}

.navbar-link > a,
.nav-logo > a,
.navbar-link-end > a,
.navbar-link-last > a {
  text-decoration: none;
  font-size: 20px;
  color: #F5F5F5;
}

.navbar-link > a:hover,
.navbar-logo:hover,
.navbar-link-end:hover {
  border-bottom: white solid 2px;
  transition: 250ms ease-in-out;
}

.navbar-link-last:hover {
  filter: brightness(120%);
}

.nav-logo {
  margin-left: 20px;
}

.nav-logo-icon {
  font-size: 30px;
  color: #020;
}

.nav-logo-icon2 {
  font-size: 30px;
  color: rgba(82,183,102,1);
}

.nav-logo-2 {
  color: rgba(82,183,102,1);
}

#login-icon {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
}

.burger-icon {
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  border-radius: 20px;
}

.dropdown-menu {
  height: fit-content;
  background-color: #206a5d;
  margin-top: 20px;
}

.dropdown-item {
  font-family: 'Nunito', sans-serif;
}

#dropdown_login {
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 25px;
  width: 110px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}


.navbar3{
  display: inline-flex;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  opacity: 1;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: white;
  height: 70px;
  margin-top: 0;
  a{
    color: #020 !important;
  }
  transition: 0.4s;
  z-index: 1;
}

.sticky{
  position: fixed;
  top: 0;
  z-index: 3;
}