@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Nunito:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  background-color: grey;
}
.navbar {
  display: flex;
  width: 90%;
  height: max-content;
  margin: 20px auto;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.navbar-link,
.navbar-link-end,
.navbar-link-last {
  list-style: none;
  margin: 0 20px 0px 20px;
  padding: 10px 0 10px 0;
}

.navbar-link > a,
.nav-logo > a,
.navbar-link-end > a,
.navbar-link-last > a {
  text-decoration: none;
  font-size: 20px;
  color: #F5F5F5;
}

.navbar-link > a:hover,
.navbar-logo:hover,
.navbar-link-end:hover {
  filter: brightness(200%);
  border-bottom: white solid 2px;
  padding: 10px 0 10px 0;
}

.navbar-link-last:hover {
  filter: brightness(150%);
}

.nav-logo {
  margin-left: 20px;
}

.nav-logo-icon {
  font-size: 30px;
  color: white;
}

#login-icon {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}

.burger-icon {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}

.dropdown-menu {
  z-index: 2;
  height: 20rem;
}

#dropdown_login {
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 25px;
  width: 110px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
