@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital@1&display=swap');


.banner-image {
  height: 80vh;
  position: absolute;
  left: 0;
  top: 23vh;
}

#banner-heading {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  color: white;
}

.empty {
  height: 20em;
  width: 10em;
}
